<hr/>
<h2>Reactive Form Examples</h2>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-description>
      A form manually created in the back end
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-manual-typed-form></app-manual-typed-form>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-description>
      A form created in the back end by FormBuilder
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-form-buider-typed-form></app-form-buider-typed-form>
</mat-expansion-panel>

<hr/>
<h2>Template Form Examples</h2>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-description>
      A form manually created in the html
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-template-form></app-template-form>
</mat-expansion-panel>
